In [3]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\notebook\documents\projetos_victor\exercicio_ia\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\notebook\documents\projetos_victor\exercicio_ia\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.6 MB 5.6 MB/s eta 0:00:03
   ------ --------------------------------- 2.1/12.6 MB 6.5 MB/s eta 0:00:02
   ---------- ----------------------------- 3.4/12.6 MB 6.5 MB/s eta 0:00:02
   -------------- ------------------------- 4.5/12.6 MB 6.0 MB/s eta 0:00:02
   ------------------ --------------------- 5.8/12.6 MB 6.0 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.6 MB 5.9 MB/s eta 0:00:01
   ------------------------- -------------- 8.1/12.6 MB 5.9 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 6.0 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 6.0 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [16]:
import pandas as pd
url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
df = pd.read_csv(url)
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [19]:
# troca automatica do caracter especial de todos os nomes de  colunas usando --str.replace('.','_')
df.columns = df.columns.str.replace('.','_')
df

     sepal_length  sepal_width  petal_length  petal_width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [24]:
# traduzindo os nomes das colunas.
df.columns=['comprimento.sépala', 'largura.sépala', 'comprimento.pétala', 'largura.pétala', 'variedade']
df

,comprimento.sépala,largura.sépala,comprimento.pétala,largura.pétala,variedade
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica
146,6.3,2.5,5.0,1.9,Virginica
147,6.5,3.0,5.2,2.0,Virginica
148,6.2,3.4,5.4,2.3,Virginica
149,5.9,3.0,5.1,1.8,Virginica

In [38]:
# verificando os tipos de plantas descritas na coluna "variedade" -- unique() ultilizado para ignorar os nomes duplicados.
df_variedade = sorted(df['variedade'].unique())
df_variedade

['Setosa', 'Versicolor', 'Virginica']

In [42]:
# verificando quantas informações eu tenho de cada elemento da coluna "variedade"
df["variedade"].value_counts()

variedade
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [78]:
# com base na visualização do grafico e no seu objetivo ,foi escolhido que é necessario visualizar o df com base nos nomes da plantas (na coluna  variedade para encontrar padroes por plantas)
df_index_variedade = df.set_index(["variedade"])
df_index_variedade.t(25)

,comprimento.sépala,largura.sépala,comprimento.pétala,largura.pétala
variedade,,,,
Virginica,7.2,3.2,6.0,1.8
Virginica,6.2,2.8,4.8,1.8
Virginica,6.1,3.0,4.9,1.8
Virginica,6.4,2.8,5.6,2.1
Virginica,7.2,3.0,5.8,1.6
Virginica,7.4,2.8,6.1,1.9
Virginica,7.9,3.8,6.4,2.0
Virginica,6.4,2.8,5.6,2.2
Virginica,6.3,2.8,5.1,1.5
Virginica,6.1,2.6,5.6,1.4
Virginica,7.7,3.0,6.1,2.3
Virginica,6.3,3.4,5.6,2.4
Virginica,6.4,3.1,5.5,1.8
Virginica,6.0,3.0,4.8,1.8
Virginica,6.9,3.1,5.4,2.1
Virginica,6.7,3.1,5.6,2.4
Virginica,6.9,3.1,5.1,2.3
Virginica,5.8,2.7,5.1,1.9
Virginica,6.8,3.2,5.9,2.3
Virginica,6.7,3.3,5.7,2.5
Virginica,6.7,3.0,5.2,2.3
Virginica,6.3,2.5,5.0,1.9
Virginica,6.5,3.0,5.2,2.0
Virginica,6.2,3.4,5.4,2.3
Virginica,5.9,3.0,5.1,1.8

In [73]:
df_index_variedade.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count              150.00          150.00              150.00          150.00
mean                 5.84            3.06                3.76            1.20
std                  0.83            0.44                1.77            0.76
min                  4.30            2.00                1.00            0.10
25%                  5.10            2.80                1.60            0.30
50%                  5.80            3.00                4.35            1.30
75%                  6.40            3.30                5.10            1.80
max                  7.90            4.40                6.90            2.50

In [55]:
# guardando e separando por variaveis as especies das plantas na coluna.index("variedade")
df_info_setosa = df_index_variedade.loc['Setosa']
df_info_versicolor = df_index_variedade.loc['Versicolor']
df_info_virginica = df_index_variedade.loc['Virginica']

In [75]:
df_info_setosa.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count               50.00           50.00               50.00           50.00
mean                 5.01            3.43                1.46            0.25
std                  0.35            0.38                0.17            0.11
min                  4.30            2.30                1.00            0.10
25%                  4.80            3.20                1.40            0.20
50%                  5.00            3.40                1.50            0.20
75%                  5.20            3.68                1.58            0.30
max                  5.80            4.40                1.90            0.60

In [77]:
df_info_virginica.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count               50.00           50.00               50.00           50.00
mean                 6.59            2.97                5.55            2.03
std                  0.64            0.32                0.55            0.27
min                  4.90            2.20                4.50            1.40
25%                  6.22            2.80                5.10            1.80
50%                  6.50            3.00                5.55            2.00
75%                  6.90            3.18                5.88            2.30
max                  7.90            3.80                6.90            2.50

In [76]:
df_info_versicolor.describe().round(2)

       comprimento.sépala  largura.sépala  comprimento.pétala  largura.pétala
count               50.00           50.00               50.00           50.00
mean                 5.94            2.77                4.26            1.33
std                  0.52            0.31                0.47            0.20
min                  4.90            2.00                3.00            1.00
25%                  5.60            2.52                4.00            1.20
50%                  5.90            2.80                4.35            1.30
75%                  6.30            3.00                4.60            1.50
max                  7.00            3.40                5.10            1.80